<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_SMCP-yat-cy-bar</key>
    <string>_S_M_C_P_-yat-cy-bar.glif</string>
    <key>_UC-Yat-cy-bar</key>
    <string>_U_C_-Y_at-cy-bar.glif</string>
  </dict>
</plist>
