<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Omega-latin</key>
    <string>O_mega-latin.glif</string>
    <key>T_h.ss10</key>
    <string>T__h.ss10.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Zhe-cy.loclBGR</key>
    <string>Z_he-cy.loclB_G_R_.glif</string>
    <key>_LC-baseline-narrow-normal</key>
    <string>_L_C_-baseline-narrow-normal.glif</string>
    <key>_LC-baseline-normal-narrow</key>
    <string>_L_C_-baseline-normal-narrow.glif</string>
    <key>_LC-descender-cy-inner-serif</key>
    <string>_L_C_-descender-cy-inner-serif.glif</string>
    <key>_LC-e-middlestroke-cy</key>
    <string>_L_C_-e-middlestroke-cy.glif</string>
    <key>_LC-e-stroke</key>
    <string>_L_C_-e-stroke.glif</string>
    <key>_LC-en-cy_upper</key>
    <string>_L_C_-en-cy_upper.glif</string>
    <key>_LC-f-stem</key>
    <string>_L_C_-f-stem.glif</string>
    <key>_LC-f_l</key>
    <string>_L_C_-f_l.glif</string>
    <key>_LC-f_l_</key>
    <string>_L_C_-f_l_.glif</string>
    <key>_LC-hook-descender-cy</key>
    <string>_L_C_-hook-descender-cy.glif</string>
    <key>_LC-idotless-optical</key>
    <string>_L_C_-idotless-optical.glif</string>
    <key>_LC-k-legs</key>
    <string>_L_C_-k-legs.glif</string>
    <key>_LC-k-legs-lowered</key>
    <string>_L_C_-k-legs-lowered.glif</string>
    <key>_LC-m-shoulders</key>
    <string>_L_C_-m-shoulders.glif</string>
    <key>_LC-s-stroke</key>
    <string>_L_C_-s-stroke.glif</string>
    <key>_LC-sha-cy-base</key>
    <string>_L_C_-sha-cy-base.glif</string>
    <key>_LC-t-stroke</key>
    <string>_L_C_-t-stroke.glif</string>
    <key>_LC-u-stroke</key>
    <string>_L_C_-u-stroke.glif</string>
    <key>_LC-y-stroke</key>
    <string>_L_C_-y-stroke.glif</string>
    <key>_SMCP-A-stroke</key>
    <string>_S_M_C_P_-A_-stroke.glif</string>
    <key>_SMCP-E-stroke</key>
    <string>_S_M_C_P_-E_-stroke.glif</string>
    <key>_SMCP-K-wing</key>
    <string>_S_M_C_P_-K_-wing.glif</string>
    <key>_SMCP-S-stroke</key>
    <string>_S_M_C_P_-S_-stroke.glif</string>
    <key>_SMCP-T-stroke</key>
    <string>_S_M_C_P_-T_-stroke.glif</string>
    <key>_SMCP-che-cy-curve</key>
    <string>_S_M_C_P_-che-cy-curve.glif</string>
    <key>_SMCP-che-cy-stem</key>
    <string>_S_M_C_P_-che-cy-stem.glif</string>
    <key>_SMCP-e-cy-middlestroke</key>
    <string>_S_M_C_P_-e-cy-middlestroke.glif</string>
    <key>_SMCP-yat-cy-bar</key>
    <string>_S_M_C_P_-yat-cy-bar.glif</string>
    <key>_SMCP-zhe-cy.loclBGR-wings</key>
    <string>_S_M_C_P_-zhe-cy.loclB_G_R_-wings.glif</string>
    <key>_UC-A-stroke</key>
    <string>_U_C_-A_-stroke.glif</string>
    <key>_UC-Che-cy-curve</key>
    <string>_U_C_-C_he-cy-curve.glif</string>
    <key>_UC-Che-cy-stem</key>
    <string>_U_C_-C_he-cy-stem.glif</string>
    <key>_UC-E-cy-middlestroke</key>
    <string>_U_C_-E_-cy-middlestroke.glif</string>
    <key>_UC-E-stroke</key>
    <string>_U_C_-E_-stroke.glif</string>
    <key>_UC-S-stroke</key>
    <string>_U_C_-S_-stroke.glif</string>
    <key>_UC-T-stroke</key>
    <string>_U_C_-T_-stroke.glif</string>
    <key>_UC-Yat-cy-bar</key>
    <string>_U_C_-Y_at-cy-bar.glif</string>
    <key>_UC-Zhe-cy.loclBGR-wings</key>
    <string>_U_C_-Z_he-cy.loclB_G_R_-wings.glif</string>
    <key>_Y-stroke</key>
    <string>_Y_-stroke.glif</string>
    <key>__f_h1st-stroke-liga_</key>
    <string>__f_h1st-stroke-liga_.glif</string>
    <key>__fl-liga</key>
    <string>__fl-liga.glif</string>
    <key>_baht-bar</key>
    <string>_baht-bar.glif</string>
    <key>_cedillacomb-E.case</key>
    <string>_cedillacomb-E_.case.glif</string>
    <key>_cedillacomb-T.case</key>
    <string>_cedillacomb-T_.case.glif</string>
    <key>_cedillacomb-t</key>
    <string>_cedillacomb-t.glif</string>
    <key>_cent-bar</key>
    <string>_cent-bar.glif</string>
    <key>_cent-bar.smcp</key>
    <string>_cent-bar.smcp.glif</string>
    <key>_dollar-bar</key>
    <string>_dollar-bar.glif</string>
    <key>_dollar-bar.smcp</key>
    <string>_dollar-bar.smcp.glif</string>
    <key>_f_adieresis.ligature</key>
    <string>_f_adieresis.ligature.glif</string>
    <key>_f_b.ligature</key>
    <string>_f_b.ligature.glif</string>
    <key>_f_h.ligature</key>
    <string>_f_h.ligature.glif</string>
    <key>_f_i.ligature</key>
    <string>_f_i.ligature.glif</string>
    <key>_f_idieresis.ligature</key>
    <string>_f_idieresis.ligature.glif</string>
    <key>_f_igrave.ligature</key>
    <string>_f_igrave.ligature.glif</string>
    <key>_f_j.ligature</key>
    <string>_f_j.ligature.glif</string>
    <key>_f_j.ligature.cv01</key>
    <string>_f_j.ligature.cv01.glif</string>
    <key>_f_odieresis.ligature</key>
    <string>_f_odieresis.ligature.glif</string>
    <key>_f_t.ligature</key>
    <string>_f_t.ligature.glif</string>
    <key>_f_thorn.ligature</key>
    <string>_f_thorn.ligature.glif</string>
    <key>_f_udieresis.ligature</key>
    <string>_f_udieresis.ligature.glif</string>
    <key>_f_ydieresis.ligature</key>
    <string>_f_ydieresis.ligature.glif</string>
    <key>_guarani-bar</key>
    <string>_guarani-bar.glif</string>
    <key>_guarani-bar.smcp</key>
    <string>_guarani-bar.smcp.glif</string>
    <key>_longs_i.ligature</key>
    <string>_longs_i.ligature.glif</string>
    <key>_longs_t.liga</key>
    <string>_longs_t.liga.glif</string>
    <key>_n-1st-stroke-hook</key>
    <string>_n-1st-stroke-hook.glif</string>
    <key>_n-shoulder-bottom-wide-inner-serif</key>
    <string>_n-shoulder-bottom-wide-inner-serif.glif</string>
    <key>_naira-bar</key>
    <string>_naira-bar.glif</string>
    <key>_tse-dzhe-cy_base</key>
    <string>_tse-dzhe-cy_base.glif</string>
    <key>_won-bar</key>
    <string>_won-bar.glif</string>
    <key>_zhe-cy-wings.loclBGR</key>
    <string>_zhe-cy-wings.loclB_G_R_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand.case</key>
    <string>ampersand.case.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dje-cy.smcp</key>
    <string>dje-cy.smcp.glif</string>
    <key>dollar.tf</key>
    <string>dollar.tf.glif</string>
    <key>el-cy.loclBGR</key>
    <string>el-cy.loclB_G_R_.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>en-cy.loclBGR</key>
    <string>en-cy.loclB_G_R_.glif</string>
    <key>eopen</key>
    <string>eopen.glif</string>
    <key>eopen.flattened</key>
    <string>eopen.flattened.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>euro.smcp</key>
    <string>euro.smcp.glif</string>
    <key>euro.tf</key>
    <string>euro.tf.glif</string>
    <key>f-fina.ligature</key>
    <string>f-fina.ligature.glif</string>
    <key>f_b.liga</key>
    <string>f_b.liga.glif</string>
    <key>f_h.liga</key>
    <string>f_h.liga.glif</string>
    <key>f_idieresis.liga</key>
    <string>f_idieresis.liga.glif</string>
    <key>f_igrave.liga</key>
    <string>f_igrave.liga.glif</string>
    <key>f_init.ligature</key>
    <string>f_init.ligature.glif</string>
    <key>f_k.liga</key>
    <string>f_k.liga.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>five.smcp</key>
    <string>five.smcp.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.tosf</key>
    <string>four.tosf.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>ge-cy.loclBGR</key>
    <string>ge-cy.loclB_G_R_.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hhook</key>
    <string>hhook.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hryvnia.smcp</key>
    <string>hryvnia.smcp.glif</string>
    <key>hryvnia.tf</key>
    <string>hryvnia.tf.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>jdotless.cv01</key>
    <string>jdotless.cv01.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.smcp</key>
    <string>k.smcp.glif</string>
    <key>khook.smcp</key>
    <string>khook.smcp.glif</string>
    <key>lambdastroke-latin</key>
    <string>lambdastroke-latin.glif</string>
    <key>lari</key>
    <string>lari.glif</string>
    <key>lari.smcp</key>
    <string>lari.smcp.glif</string>
    <key>lari.tf</key>
    <string>lari.tf.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>liraTurkish.smcp</key>
    <string>liraT_urkish.smcp.glif</string>
    <key>liraTurkish.tf</key>
    <string>liraT_urkish.tf.glif</string>
    <key>longs-fina.ligature</key>
    <string>longs-fina.ligature.glif</string>
    <key>longs-init.ligature</key>
    <string>longs-init.ligature.glif</string>
    <key>longs_h.liga</key>
    <string>longs_h.liga.glif</string>
    <key>longs_i.liga</key>
    <string>longs_i.liga.glif</string>
    <key>longs_k.liga</key>
    <string>longs_k.liga.glif</string>
    <key>longs_l.liga</key>
    <string>longs_l.liga.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>naira.tf</key>
    <string>naira.tf.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>omega-latin.smcp</key>
    <string>omega-latin.smcp.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>peseta.tf</key>
    <string>peseta.tf.glif</string>
    <key>ramshorn</key>
    <string>ramshorn.glif</string>
    <key>shcha-cy.loclBGR</key>
    <string>shcha-cy.loclB_G_R_.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.smcp</key>
    <string>sterling.smcp.glif</string>
    <key>sterling.ss11</key>
    <string>sterling.ss11.glif</string>
    <key>sterling.tf</key>
    <string>sterling.tf.glif</string>
    <key>tse-cy.loclBGR</key>
    <string>tse-cy.loclB_G_R_.glif</string>
    <key>tshe-cy.smcp</key>
    <string>tshe-cy.smcp.glif</string>
    <key>ustraight-cy</key>
    <string>ustraight-cy.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.flattened</key>
    <string>v.flattened.glif</string>
    <key>ve-cy.loclBGR</key>
    <string>ve-cy.loclB_G_R_.glif</string>
    <key>vhook</key>
    <string>vhook.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.flattened</key>
    <string>w.flattened.glif</string>
    <key>won.tf</key>
    <string>won.tf.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ya-cy</key>
    <string>ya-cy.glif</string>
    <key>ya-cy.loclBGR.alt</key>
    <string>ya-cy.loclB_G_R_.alt.glif</string>
    <key>yen-strokes-overlay</key>
    <string>yen-strokes-overlay.glif</string>
    <key>yen-strokes-overlay.smcp</key>
    <string>yen-strokes-overlay.smcp.glif</string>
    <key>zhe-cy.loclBGR</key>
    <string>zhe-cy.loclB_G_R_.glif</string>
    <key>zhe-cy.loclBGR.smcp</key>
    <string>zhe-cy.loclB_G_R_.smcp.glif</string>
  </dict>
</plist>
